/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #fcfcfc;
  font-family: 'Muli', sans-serif;
  font-color: #4A4A4A;
  font-size: 1.2em;
  font-weight: 100;
  overflow: hidden;
}

small{
  font-size: 0.6em;
  font-weight: 100;
  padding-left: 5px;
}

.currency{
  position: relative;
  top: 0.8em;
  float: left;
  padding-right: 10px;
}

.values{
  text-align: right;
  padding: 0px;
}

h2, h3{
font-size: 2em;
font-weight:400;
}
h4 {
  font-size: 1.2em;
  font-weight: 400;
}
/*
 * Common Padding
 */
.padpad {
  padding: 20px 5px;
}

.radial-content {
  padding-bottom:80px;
}

.radial-content-title {
  font-size: 16px;
}

.radial-content-value3 {

}
.radial-content-value2 {

}
.radial-content-total {

}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar, .sidebar2 {
  /*display: none;*/
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  .sidebar2 {
    position: fixed;
    top: 51px;
margin-top: 40px !important;
    margin: 20px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    box-shadow: 0px 0px 3px #888888;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
/*.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}*/
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 0px 20px 0px 20px;
}
/*@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
/*.main .page-header {
  margin-top: 0;
}*/
.main .sub-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

/*.placeholders {
  margin-bottom: 30px;
  : center;
}*/

.modal-dialog {
  width: inherit;
  max-width: 1200px;
  margin-top: 14vh;
}

/*
 *  Chart
 */
svg {
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0px;
}

.graph, .graph2 {
  /*max-width: 120px;*/
}

.graph svg, .graph2 svg {
  /*width: 20vw;*/
  max-width: 160px;
}

.first-value, .second-value, .third-value { font-weight: bold }
.second-value { color: #356307 }
.first-value { color: #005128 }
.third-value { color: #6aae6a }

/*
 *  Custom checkboxes styling
 */

/* Base for label styling */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
input[type="checkbox"]:checked + label:before {
  background: #549a3a;
}
/* checked mark aspect */

input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  /*content: '✔';*/
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #549a3a;
  transition: all .2s;
}
/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
/*input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
input[type="checkbox"]:disabled:checked + label:before {
  background: #549a3a;
}
input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
input[type="checkbox"]:disabled + label {
  color: #aaa;
}*/
/* accessibility */
input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #191919;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

/* nav tabs */
.tabs-wrap .nav-tabs>ul {
  width: 100%;
}
.tabs-wrap .nav-tabs>li {
  width: 50%;
}
.tabs-wrap .nav-tabs>li>a, .tabs-wrap .nav-tabs>li>a:focus, .tabs-wrap .nav-tabs>li>a:hover {
  color: black;
}
.tabs-wrap .nav-tabs>li.active>a, .tabs-wrap .nav-tabs>li.active>a:focus, .tabs-wrap .nav-tabs>li.active>a:hover {
  background-color: #549a3a;
  color: white;
}
.tabs-wrap {
  border: 1px solid #549a3a;
  border-radius: 6px;
  margin-left: 1.95em;
}
.tabs-wrap .nav>li>a {
  padding: 0;
  : center;
}

.container.modal-body { width: 100%; }
.container.modal-body .dropdown { margin-left: 1.95em; }

.table{
  background-color: #FFF;
}

#main-table>thead>tr>th, #main-table>tbody>tr>td { border: none; }
#main-table>thead, #main-table>tbody>tr { border-bottom: solid 1px #549a3a; }

.tab-content .table>tbody>tr>td { border: none; }

tr {
  margin-top: 20px;
}

/*.c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid, .c3-event-rect, .c3-bars path {
  shape-rendering: auto;
}*/

/* d3 chart2 */
#chart2 .axis path,
#chart2 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart2 .bar {
  fill: steelblue;
}

#chart2 .x.axis path {
  display: none;
}

.nav-sidebar > li {
  margin-bottom: 20px;
}

#rightLowerGraph {
  margin-top: 20px;
}

nav.navbar {
  background-color: white;
}

nav.navbar:after {
  content: "";
  display: block;
  height: 3px;
  background: linear-gradient(to right, #549a3a, white);
}

.sidebar a.btn-block { text-align:left }

.sidebar .btn-default.active {
  background-color: white;
  border-bottom: solid 1px #549a3a;
  box-shadow: none;
  font-weight: bold;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(84,154,58,0.68);
  -moz-box-shadow: 0px 1px 0px 0px rgba(84,154,58,0.68);
  box-shadow: 0px 1px 0px 0px rgba(84,154,58,0.68);
}

.sidebar .btn {
  border-radius: 0;
}

.sidebar2 h3 {
  margin-bottom: 42px;
}

div.col-sm-3.col-md-2.sidebar{
background-color:#fcfcfc;
border:0px;
}

div.all-data-list{
	background-color:#fcfcfc;
}
.btn-default {
    color: #333;
    background-color: #fff;
    /* border-color: #ccc; */
            box-shadow: 0px 0px 3px #888888;
    text-align: left;
    font-size: 1vw;
    margin-bottom: 20px;
}
a {
color:#4a4a4a;
}

a:hover {
  color:#4a4a4a;
  text-decoration: none;
}
.col-lg-8{
    padding-left: 0px;
    padding-right: 0px;
    right: 20px;
}
.btn-primary{
background-color:#fcfcfc;
border-color:#4a4a4a;
color:#4a4a4a;
}
.input-group{
  padding: 0px;
box-shadow: 0px 0px 3px #888888;
}
.form-control{
  height: 40px;
  background-color: #fcfcfc;
  border: 0px;
}
.btn-default.active{
box-shadow: 0px 0px 3px #888 !important;
border: 0px;
}
.navbar-brand{
height:70px;
}
.nav-sidebar{
margin-top: 20px;
}

#graph1, #graph2, #graph3{
  width: 100% !important;
  height: 25vh !important;
}

.highcharts-root, .highcharts-container{
  width: 95% !important;
}
/*.highcharts-point.highcharts-color-0,
.highcharts-legend-item.highcharts-color-0 .highcharts-point,
.highcharts-tooltip .highcharts-color-0{
  stroke: #005B2D;
}

.highcharts-point.highcharts-color-1,
.highcharts-legend-item.highcharts-color-1 .highcharts-point,
.highcharts-tooltip .highcharts-color-1{
  stroke: #253189;
}*/

.highcharts-background{
  width: auto;
  height:auto;
}

.highcharts-plot-background{
  width: auto;
  height:auto;
}

.combo{
  margin: 41px 40px 0px 40px;
  width: 93%;
  max-height: 89.5vh;
  overflow-y: auto;
  box-shadow: 0px 0px 3px #888;
  padding-bottom: 20px;
  background: #FFF;
}



.padpad {
  padding:0px;
}

.button-pad{
  margin-top: 20px;
}

.button-pad:hover{
  background-color: #549a3a;
  border-color: #005B2D;
}
