<template>
<div class="all-data-list">

  <div class="table-responsive">
    <table class="table" id="main-table">
      <thead>
        <tr>
          <th></th>
          <th colspan="3" v-for="monthtitle in tableMonthTitles"><h4>{{monthtitle}}</h4></th>
        </tr>
        <tr>
          <!-- <th v-for="col in users.tableHead">{{col}}</th> -->
          <th>Name</th>
          <th>Ausl. Perf.</th>
          <th>Ausl. Bud.</th>
          <th>Umsatz</th>
          <th>Ausl. Perf.</th>
          <th>Ausl. Bud.</th>
          <th>Umsatz</th>
          <th>Ausl. Perf.</th>
          <th>Ausl. Bud.</th>
          <th>Umsatz</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="x in usersdata">
          <td>{{x.array[0].last_name}} {{x.array[0].first_name}}</td>
          <td>{{x.array[0].workload_performance | roundnumber}}%</td>
          <td>{{x.array[0].budget_performance| roundnumber}}%</td>
          <td><small>CHF</small> {{x.array[0].revenue_performance|roundnumber}}</td>
          <td>{{x.array[1].workload_performance| roundnumber}}%</td>
          <td>{{x.array[1].budget_performance| roundnumber}}%</td>
          <td><small>CHF</small> {{x.array[1].revenue_performance| roundnumber}}</td>
          <td>{{x.array[2].workload_performance| roundnumber}}%</td>
          <td>{{x.array[2].budget_performance| roundnumber}}%</td>
          <td><small>CHF</small> {{x.array[2].revenue_performance| roundnumber}}</td>

        </tr>
      </tbody>
    </table>
  </div>

<!-- Graph Data -->




</div>
</template>

<script>
import {
 bus
}
from '../bus'


import {store} from '../store/store'
export default {
store,
 name: 'all-data-list',
 data() {
  return {
   usersdata: '',
  //  tableMonthTitles:['First', 'Second', 'Total'],
  tableMonthTitles:'',
   homeObject:'',order:'',filter:'',c1v:'',c1b:'',c2v:'',c2b:'',c3v:'',c3b:''
  }
 },
 methods: {
  getDataA: function(msg) {
   var self = this;
   var response = msg;
  //  console.log(response);

   // console.log('GG',k.col1v);
//----------------------------------------------

  this.tableMonthTitles = JSON.parse(localStorage.getItem('colnameset'));

//-----------------------------------------------
   self.homeObject = JSON.parse(localStorage.getItem('homesetting'));
   self.c1v = self.homeObject.col1v;
   self.c1b = self.homeObject.col1b;
   self.c2v = self.homeObject.col2v;
   self.c2b = self.homeObject.col2b;
   self.c3v = self.homeObject.col3v;
   self.c3b = self.homeObject.col3b;

   var filtObject = JSON.parse(localStorage.getItem('filtset'));
   this.filter =  filtObject.filter;
   this.order = filtObject.order;
   //
   var furl = store.state.globalurl+'/firstcolumn/' + self.c1v + '/' + self.c1b;
   var surl = store.state.globalurl+'/secondcolumn/' + self.c2v + '/' + self.c2b;
   var turl = store.state.globalurl+'/thirdcolumn/' + self.c3v + '/' + self.c3b;
   //
  //  console.log('from content',furl);
  //   console.log('from content',surl);
  //    console.log('from content',turl);


   function promisifiedGet(url) {
    return new Promise(function(resolve) {
     $.get(url, resolve);
    });
   }

   Promise.all([
    promisifiedGet(furl),
    promisifiedGet(surl),
    promisifiedGet(turl)
   ]).then(function(results) {
    var combineSources = function(sources) {
     var combined = sources.reduce((result, source) => {

      source.forEach(el => {
       var rsid = el.rsid;
       delete el.rsid;

       if (!result[rsid]) {
        result[rsid] = {
         rsid: rsid,
         array: []
        };
       }

       result[rsid].array.push(el);
      });

      return result;
     }, []);

     return combined.filter(Boolean);
    };

    var mresult = combineSources([results[0], results[1], results[2]]);






    //  console.log(self.usersdata);
    // console.log('up filter',self.filter);
    // console.log('up order',self.order);

    var ff = self.filter;
    var oo = self.order;



    if (ff === 'theropeut' && oo === 'ascending') {
      self.usersdata = mresult.sort(function(a, b){
       var nameA=a.array[0].last_name.toLowerCase(), nameB=b.array[0].last_name.toLowerCase();
       if (nameA < nameB) //sort string ascending
        return -1;
       if (nameA > nameB)
        return 1;
       return 0; //default return value (no sorting)
      });
        // console.log('t aAscending');

    } else if (ff === 'theropeut' && oo === 'descending') {
      self.usersdata = mresult.sort(function(a, b){
       var nameA=a.array[0].last_name.toLowerCase(), nameB=b.array[0].last_name.toLowerCase();
       if (nameA > nameB) //sort string ascending
        return -1;
       if (nameA < nameB)
        return 1;
       return 0; //default return value (no sorting)
      });


        // console.log('t dDescending');
    }
    else if (ff === "ausl_perf" && oo === "ascending") {
      self.usersdata  = mresult.sort(function(a, b) {
        return parseFloat(a.array[0].workload_performance) - parseFloat(b.array[0].workload_performance);
      });

    }
    else if (ff === "ausl_perf" && oo === "descending") {
      self.usersdata  = mresult.sort(function(a, b) {
        return parseFloat(b.array[0].workload_performance) - parseFloat(a.array[0].workload_performance);
      });
    }
    else if (ff === "ausl_bud" && oo=== "ascending") {
      self.usersdata  = mresult.sort(function(a, b) {
        return parseFloat(a.array[0].budget_performance) - parseFloat(b.array[0].budget_performance);
      });

    }
    else if (ff=== "ausl_bud" && oo === "descending") {
      self.usersdata  = mresult.sort(function(a, b) {
        return parseFloat(b.array[0].budget_performance) - parseFloat(a.array[0].budget_performance);
      });
    }
    else if (ff === "umsatz" && oo === "ascending") {
      self.usersdata  = mresult.sort(function(a, b) {
        return parseFloat(a.array[0].revenue_performance) - parseFloat(b.array[0].revenue_performance);
      });

      }
      else if (ff === "umsatz" && oo === "descending") {
        self.usersdata  = mresult.sort(function(a, b) {
          return parseFloat(b.array[0].revenue_performance) - parseFloat(a.array[0].revenue_performance);
        });
      }
    else {

      // self.usersdata = mresult;
      self.usersdata = mresult;
    }





   });


  }
 },
 created: function() {
  this.getDataA();
  // this.fetchData();
 },
 mounted: function() {
  bus.$on('updated', this.getDataA);
},
filters: {
  roundnumber: function(value) {
    return Math.round(value);
  }
}


}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
