<template>
  <div class="graphbud">
    <div id="graph2" style="width: 100%; margin: 0 auto">
  </div>
  </div>
</template>

<script>
import {store} from '../store/store'
import {bus} from '../bus'

Highcharts.setOptions({
    colors: ['#005B2D', '#417505', '#75B775']
});


export default {
  props:['dataa'],
  name: 'graphbud',store,
  data () {
    return {
      title:'',
    }
  },
  methods: {
    fetchData: function () {

        var self = this;
        const clickHandler = function(data) {
        // console.log(data.colA);
         let aaa= Number(data.colA);
         let bbb = Number(data.colB);
         let ccc = Number(data.colTo);

               $(function () {
                   Highcharts.chart('graph2', {

                       chart: {
                           type: 'solidgauge',
                           marginTop: 0
                       },

                       title: {
                           text: '',
                           style: {
                               fontSize: '1.2em'
                           }
                       },

                       tooltip: {
                            enabled: false
                        },

                       pane: {
                           startAngle: 0,
                           endAngle: 360,
                           background: [{ // Track for Move
                               outerRadius: '112%',
                               innerRadius: '89%',
                               backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.3).get(),
                               borderWidth: 0
                           }, { // Track for Exercise
                               outerRadius: '86%',
                               innerRadius: '64%',
                               backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0.3).get(),
                               borderWidth: 0
                           }, { // Track for Stand
                               outerRadius: '61%',
                               innerRadius: '38%',
                               backgroundColor: Highcharts.Color(Highcharts.getOptions().colors[2]).setOpacity(0.3).get(),
                               borderWidth: 0
                           }]
                       },

                       yAxis: {
                           min: 0,
                           max: 100,
                           lineWidth: 0,
                           tickPositions: []
                       },

                       plotOptions: {
                           solidgauge: {
                               borderWidth: '2vh',
                               dataLabels: {
                                   enabled: false
                               },
                               linecap: 'round',
                               stickyTracking: false
                           }
                       },

                       series: [{
                           name: 'Move',
                           borderColor: Highcharts.getOptions().colors[0],
                           data: [{
                               color: Highcharts.getOptions().colors[0],
                               radius: '100%',
                               innerRadius: '100%',
                               y: aaa
                           }]
                       }, {
                           name: 'Exercise',
                           borderColor: Highcharts.getOptions().colors[1],
                           data: [{
                               color: Highcharts.getOptions().colors[1],
                               radius: '75%',
                               innerRadius: '75%',
                               y: bbb
                           }]
                       }, {
                           name: 'Stand',
                           borderColor: Highcharts.getOptions().colors[2],
                           data: [{
                               color: Highcharts.getOptions().colors[2],
                               radius: '50%',
                               innerRadius: '50%',
                               y: ccc
                           }]
                       }]
                   },

                   /**
                    * In the chart load callback, add icons on top of the circular shapes
                    */
                   function callback() {

                   });


               });




      }

      // console.log('adata',self.aaa);
      bus.$on('bud', clickHandler);


    }

  },
	created: function () {
      this.fetchData();
	},
  mounted: function () {
    // bus.$on('perf', this.fetchData);


	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
