<template>
  <div class="main-content combo">
   <div class="main">
      <!-- top row -->
      <div class="row">
         <div class="padpad">
            <div class="col-md-10">
               <h3>Alle Therapeuten</h3>
            </div>
            <div class="col-md-2">
               <button type="button" class="btn btn-primary btn-sm btn-block button-pad" data-toggle="modal" v-on:click="populate" data-target="#settingModal">Bereich</button>
            </div>
         </div>
      </div>

<!-- table data -->
<div class="row">
   <div class="padpad">
      <div class="col-md-12">
         <app-allusersdata></app-allusersdata>
      </div>
   </div>
</div>


  <!--  End Table data -->
      <!-- modal -->
      <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"> -->
        <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
         <div class="modal-dialog container-fluid" role="document">
            <div class="modal-content">
               <div class="modal-header">
                    <button type="submit" class="btn btn-success" data-dismiss="modal" aria-label="Close" v-on:click="onSubmit()"><span>Save</span></button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h2 class="modal-title sub-header" id="exampleModalLabel">Einstellungen Ubersicht</h2>
               </div>
               <div class="container modal-body">

                  <div class="col-xs-12 col-md-3">
                     <h4>Sortierung</h4>

                     <div class="radio">
                       <label><input value="theropeut" v-model="filtr" type="radio" name="filterop">Theropeut</label>
                     </div>
                     <div class="radio">
                       <label><input value="ausl_perf" v-model="filtr" type="radio" name="filterop">Ausl Perf</label>
                     </div>
                     <div class="radio">
                       <label><input value="ausl_bud" v-model="filtr" type="radio" name="filterop">Ausl Bud</label>
                     </div>
                     <div class="radio">
                       <label><input value="umsatz" v-model="filtr" type="radio" name="filterop">Umsatz</label>
                     </div>

                     <div class="order-select">
                        <select v-model="order" id="orderid" class="form-control">
                           <option value="ascending">Ascending</option>
                           <option value="descending">Descending</option>
                        </select>
                     </div>
                  </div>
                  <!-- col -->
                  <div class="col-xs-12 col-md-3">
                     <div class="checkbox">
                        <!-- <input type="checkbox" id="chBox05" />
                        <label for="chBox05">Spalte 1</label> -->
                        <!-- dropdown -->
                        <div class="tabs-wrap">
                           <!-- Nav tabs -->
                           <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#zeitraum1" aria-controls="zeitraum1" role="tab" data-toggle="tab">Zeitraum</a></li>
                              <li role="presentation"><a href="#totalRow01" aria-controls="totalRow01" role="tab" data-toggle="tab">Total</a></li>
                           </ul>
                           <!-- Tab panes -->
                           <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="zeitraum1">
                                 <table class="table">
                                    <tbody>
                                       <tr>
                                          <td>Von:</td>
                                          <td><div class='input-group date' id='col1vis'>
                                                <input v-model="c1v" id="col1visIn" type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <icon name="calendar"></icon>
                                                </span>
                                            </div>
                                        </td>
                                       </tr>
                                       <tr>
                                          <td>Bis:</td>
                                          <td>
                                            <div class='input-group date' id='col1bis'>
                                                  <input v-model="c1b" id='col1bisIn' type='text' class="form-control" />
                                                  <span class="input-group-addon">
                                                      <icon name="calendar"></icon>
                                                  </span>
                                            </div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>Titel:</td>
                                          <td><input type="text" id="c1nid" v-model="c1name" readonly></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div role="tabpanel" class="tab-pane" id="totalRow01">
                                <div class="radio">
                                  <label><input value="syear" type="radio" name="cs1tab">Laufendes Jahr</label>
                                </div>
                                <div class="radio">
                                  <label><input value="squarter" type="radio" name="cs1tab">Laufendes Quartal</label>
                                </div>
                                <div class="radio">
                                  <label><input value="smonth" type="radio" name="cs1tab">Laufender Monat</label>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- col -->
                  <div class="col-xs-12 col-md-3">
                     <div class="checkbox">
                        <!-- <input type="checkbox" id="chBox06" />
                        <label for="chBox06">Spalte 2</label> -->
                        <!-- dropdown -->
                        <div class="tabs-wrap">
                           <!-- Nav tabs -->
                           <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#zeitraum2" aria-controls="zeitraum2" role="tab" data-toggle="tab">Zeitraum</a></li>
                              <li role="presentation"><a href="#totalRow02" aria-controls="totalRow02" role="tab" data-toggle="tab">Total</a></li>
                           </ul>
                           <!-- Tab panes -->
                           <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="zeitraum2">
                                 <table class="table">
                                    <tbody>
                                      <tr>
                                         <td>Von:</td>
                                         <td><div class='input-group date' id='col2vis'>
                                               <input v-model="c2v" id='col2visIn' type='text' class="form-control" />
                                               <span class="input-group-addon">
                                                   <icon name="calendar"></icon>
                                               </span>
                                           </div>
                                       </td>
                                      </tr>
                                      <tr>
                                         <td>Bis:</td>
                                         <td>
                                           <div class='input-group date' id='col2bis'>
                                                 <input v-model="c2b" id='col2bisIn' type='text' class="form-control" />
                                                 <span class="input-group-addon">
                                                     <icon name="calendar"></icon>
                                                 </span>
                                           </div>
                                         </td>
                                      </tr>
                                       <tr>
                                          <td>Titel:</td>
                                          <td><input type="text" id="c2nid" v-model="c2name" readonly></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div role="tabpanel" class="tab-pane" id="totalRow02">
                                <div class="radio">
                                  <label><input value="syear" type="radio" name="cs2tab">Laufendes Jahr</label>
                                </div>
                                <div class="radio">
                                  <label><input value="squarter" type="radio" name="cs2tab">Laufendes Quartal</label>
                                </div>
                                <div class="radio">
                                  <label><input value="smonth" type="radio" name="cs2tab">Laufender Monat</label>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- col -->
                  <div class="col-xs-12 col-md-3">
                     <div class="checkbox">
                        <!-- <input type="checkbox" id="chBox07" />
                        <label for="chBox07">Spalte 3</label> -->
                        <!-- dropdown -->
                        <div class="tabs-wrap">
                           <!-- Nav tabs -->
                           <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#zeitraum3" aria-controls="zeitraum3" role="tab" data-toggle="tab">Zeitraum</a></li>
                              <li role="presentation"><a href="#totalRow03" aria-controls="totalRow03" role="tab" data-toggle="tab">Total</a></li>
                           </ul>
                           <!-- Tab panes -->
                           <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="zeitraum3">
                                 <table class="table">
                                    <tbody>
                                      <tr>
                                         <td>Von:</td>
                                         <td><div class='input-group date' id='col3vis'>
                                               <input v-model="c3v" id='col3visIn' type='text' class="form-control" />
                                               <span class="input-group-addon">
                                                   <icon name="calendar"></icon>
                                               </span>
                                           </div>
                                       </td>
                                      </tr>
                                      <tr>
                                         <td>Bis:</td>
                                         <td>
                                           <div class='input-group date' id='col3bis'>
                                                 <input v-model="c3b" id='col3bisIn' type='text' class="form-control" />
                                                 <span class="input-group-addon">
                                                     <icon name="calendar"></icon>
                                                 </span>
                                           </div>
                                         </td>
                                      </tr>
                                       <tr>
                                          <td>Titel:</td>
                                          <td><input type="text" id="c3nid" v-model="c3name" readonly></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div role="tabpanel" class="tab-pane" id="totalRow03">
                                <div class="radio">
                                  <label><input value="syear" type="radio" name="cs3tab">Laufendes Jahr</label>
                                </div>
                                <div class="radio">
                                  <label><input value="squarter" type="radio" name="cs3tab">Laufendes Quartal</label>
                                </div>
                                <div class="radio">
                                  <label><input value="smonth" type="radio" name="cs3tab">Laufender Monat</label>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</template>

<script>
// var apiURL = 'https://jsonplaceholder.typicode.com/users';
import {bus} from '../bus'
import AllDataList from './AllDataList'
export default {
  components: {
    'app-allusersdata':AllDataList
  },
	name: 'main-content',
	data() {
		return {
			users: [],
      filtr:'',order:'',
      c1v:'',c1b:'',c2v:'',c2b:'',c3v:'',c3b:'',
      c1url:'',c2url:'', c3url:'',
      c1s:'',c2s:'',c3s:'',
      c1name:'',c2name:'',c3name:'',aselect:'',bselect:'',cselect:'',
      picc1v:'',picc1b:'',
      sec1v:'',sec1b:'',

      picc2v:'',picc2b:'',
      sec2v:'',sec2b:'',

      picc3v:'',picc3b:'',
      sec3v:'',sec3b:''
		}
	},
	methods: {
		fetchData: function () {


////////////////////////// Column Name /////////////////////
      if (localStorage.getItem('colnameset') === null) {
        var colmnname = {
          col1name:'Laufendes Jahr',
          col2name: 'Laufendes Quartal',
          col3name: 'Laufender Monat'
        }
        localStorage.setItem('colnameset', JSON.stringify(colmnname));

      } else {
      var colObject = JSON.parse(localStorage.getItem('colnameset'));
         this.c1name = colObject.col1name;
         this.c2name = colObject.col2name;
         this.c3name = colObject.col3name;
      };

///////////////////// Filter and Order + Date Setting ////////

      if (localStorage.getItem('homesetting') === null || localStorage.getItem('filtset') === null) {

        var currentDate = new Date();

        var curmonth = currentDate.getMonth()+1;
        var cmonth= (curmonth < 10 ? '0' : '') + curmonth;
        var cyear = currentDate.getFullYear();
        var getMonthNumber = Number(cmonth);
        function getDaysInMonth(m, y) {
               return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
           }
           ///day of last month
        var ccc = getDaysInMonth(getMonthNumber, cyear);
        var cqv = cyear+'-01-01';
        var cqb = cyear+'-01-01';

          if (cmonth === "01" || cmonth === "02" || cmonth === "03") {
              cqv = cyear+"-01-"+"01";
              cqb = cyear+"-03-"+"31";

          } else if (cmonth === "04" || cmonth === "05" || cmonth === "06") {
              cqv  = cyear+"-04-"+"01";
              cqb = cyear+"-06-"+"30";

          } else if (cmonth === "07" || cmonth === "08" || cmonth === "09") {

              cqv  = cyear+"-07-"+"01";
              cqb  = cyear+"-09-"+"30";

          } else {
            cqv = cyear+"-10-"+"01";
            cqb  = cyear+"-12-"+"31";
          }

        var homesetting = {
            col1v:cyear+'-01-01',
            col1b:cyear+'-12-31',
            col2v:cqv,
            col2b:cqb,
            col3v:cyear+'-'+cmonth+'-01',
            col3b:cyear+'-'+cmonth+'-'+ccc
        };
        var filtsetting = {
          filter: 'theropeut',
          order:'ascending',
        };

        localStorage.setItem('homesetting', JSON.stringify(homesetting));
        localStorage.setItem('filtset', JSON.stringify(filtsetting));

      } else {
      //  console.log('homesetting is there');
      };


		},
		populate: function () {
        var homeObject = JSON.parse(localStorage.getItem('homesetting'));
        this.c1v = homeObject.col1v;
        this.c1b = homeObject.col1b;
        this.c2v = homeObject.col2v;
        this.c2b = homeObject.col2b;
        this.c3v = homeObject.col3v;
        this.c3b =homeObject.col3b;

        var filtObject = JSON.parse(localStorage.getItem('filtset'));
        this.filtr =  filtObject.filter;
        this.order = filtObject.order;

        var colObject = JSON.parse(localStorage.getItem('colnameset'));
           this.c1name = colObject.col1name;
           this.c2name = colObject.col2name;
           this.c3name = colObject.col3name;

		},
    onSubmit: function(){

      //filter
      var filterop = document.getElementsByName('filterop');

      for (var i = 0, length = filterop.length; i < length; i++) {
          if (filterop[i].checked) {
              // do whatever you want with the checked radio
              // alert(filterop[i].value);
              this.filtr = filterop[i].value;
              // only one radio can be logically checked, don't check the rest
              break;
          }
      }
      // get data time month of current time
      var currentDate = new Date();

      var curmonth = currentDate.getMonth()+1;
      var cmonth= (curmonth < 10 ? '0' : '') + curmonth;
      var cyear = currentDate.getFullYear();



      //tab1 date
      var col1op = document.getElementsByName('cs1tab');

      for (var i = 0, length = col1op.length; i < length; i++) {
          if (col1op[i].checked) {
            //get the value
              var optionvalue = col1op[i].value;

              if (optionvalue === "syear") {
                // console.log('year');
                // document.getElementById("col1visIn").value = cyear+"-01-"+"01";
                // document.getElementById("col1bisIn").value = cyear+"-12-"+"31";
                this.sec1v = cyear+"-01-"+"01";
                this.sec1b = cyear+"-12-"+"31";

                // First Column Name
                this.c1name = 'Laufendes Jahr';
                // document.getElementById("c1nid").value = 'Laufendes Jahr';

              } else if (optionvalue === "squarter") {
                // console.log('quarter');
                if (cmonth === "01" || cmonth === "02" || cmonth === "03") {

                  // document.getElementById("col1visIn").value  = cyear+"-01-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-03-"+"31";
                    this.sec1v = cyear+"-01-"+"01";
                    this.sec1b  = cyear+"-03-"+"31";

                } else if (cmonth === "04" || cmonth === "05" || cmonth === "06") {
                  // document.getElementById("col1visIn").value  = cyear+"-04-"+"01";
                  //   document.getElementById("col1bisIn").value = cyear+"-06-"+"30";

                    this.sec1v  = cyear+"-04-"+"01";
                      this.sec1b = cyear+"-06-"+"30";


                } else if (cmonth === "07" || cmonth === "08" || cmonth === "09") {
                  // document.getElementById("col1visIn").value  = cyear+"-07-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-09-"+"30";

                    this.sec1v  = cyear+"-07-"+"01";
                    this.sec1b  = cyear+"-09-"+"30";


                } else {
                  // document.getElementById("col1visIn").value  = cyear+"-10-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-12-"+"31";

                  this.sec1v  = cyear+"-10-"+"01";
                      this.sec1b  = cyear+"-12-"+"31";


                }

                // First Column Name
                this.c1name = 'Laufendes Quartal';
                // document.getElementById("c1nid").value = 'Laufendes Quartal';

              } else if (optionvalue === "smonth") {
                var getMonthNumber = Number(cmonth);
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(getMonthNumber, cyear);

                this.sec1v = cyear+"-"+cmonth+"-"+"01";
                this.sec1b  = cyear+"-"+cmonth+"-"+ccc;


                  // First Column Name
                  this.c1name = 'Laufender Monat';
                  // document.getElementById("c1nid").value = 'Laufendes Monat';

            }  else {
                // console.log('nothing selected');
                // document.getElementById("c1nid").value = 'Something';
            }

              break;
          }

      }



      //tab2 date
      var col2op = document.getElementsByName('cs2tab');

      for (var i = 0, length = col2op.length; i < length; i++) {
          if (col2op[i].checked) {
            //get the value
              var optionvalue = col2op[i].value;

              if (optionvalue === "syear") {

                this.sec2v = cyear+"-01-"+"01";
                this.sec2b = cyear+"-12-"+"31";

                // First Column Name
                this.c2name = 'Laufendes Jahr';

              } else if (optionvalue === "squarter") {
                // console.log('quarter');
                if (cmonth === "01" || cmonth === "02" || cmonth === "03") {

                  // document.getElementById("col1visIn").value  = cyear+"-01-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-03-"+"31";
                  this.sec2v = cyear+"-01-"+"01";
                    this.sec2b  = cyear+"-03-"+"31";

                } else if (cmonth === "04" || cmonth === "05" || cmonth === "06") {
                  // document.getElementById("col1visIn").value  = cyear+"-04-"+"01";
                  //   document.getElementById("col1bisIn").value = cyear+"-06-"+"30";

                    this.sec2v  = cyear+"-04-"+"01";
                      this.sec2b = cyear+"-06-"+"30";


                } else if (cmonth === "07" || cmonth === "08" || cmonth === "09") {
                    this.sec2v  = cyear+"-07-"+"01";
                    this.sec2b  = cyear+"-09-"+"30";


                } else {

                  this.sec2v  = cyear+"-10-"+"01";
                  this.sec2b  = cyear+"-12-"+"31";

                }

                // First Column Name
                this.c2name = 'Laufendes Quartal';
                // document.getElementById("c1nid").value = 'Laufendes Quartal';

              } else if (optionvalue === "smonth") {
                var getMonthNumber = Number(cmonth);
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(getMonthNumber, cyear);

                this.sec2v = cyear+"-"+cmonth+"-"+"01";
                this.sec2b  = cyear+"-"+cmonth+"-"+ccc;


                  // First Column Name
                  this.c2name = 'Laufender Monat';
                  // document.getElementById("c1nid").value = 'Laufendes Monat';

            }  else {
                // console.log('nothing selected');
                // document.getElementById("c1nid").value = 'Something';
            }

              break;
          }

      }




      //tab3 date
      var col3op = document.getElementsByName('cs3tab');

      for (var i = 0, length = col3op.length; i < length; i++) {

         if (col3op[i].checked) {
          //get the value
            var optionvalue = col3op[i].value;

            if (optionvalue === "syear") {

              this.sec3v = cyear+"-01-"+"01";
              this.sec3b = cyear+"-12-"+"31";

              // First Column Name
              this.c3name = 'Laufendes Jahr';

            } else if (optionvalue === "squarter") {
              // console.log('quarter');
              if (cmonth === "01" || cmonth === "02" || cmonth === "03") {

                // document.getElementById("col1visIn").value  = cyear+"-01-"+"01";
                //   document.getElementById("col1bisIn").value  = cyear+"-03-"+"31";
                this.sec3v = cyear+"-01-"+"01";
                this.sec3b  = cyear+"-03-"+"31";

              } else if (cmonth === "04" || cmonth === "05" || cmonth === "06") {
                // document.getElementById("col1visIn").value  = cyear+"-04-"+"01";
                //   document.getElementById("col1bisIn").value = cyear+"-06-"+"30";

                  this.sec3v  = cyear+"-04-"+"01";
                    this.sec3b = cyear+"-06-"+"30";


              } else if (cmonth === "07" || cmonth === "08" || cmonth === "09") {
                  this.sec3v  = cyear+"-07-"+"01";
                  this.sec3b  = cyear+"-09-"+"30";


              } else {

                this.sec3v  = cyear+"-10-"+"01";
                this.sec3b  = cyear+"-12-"+"31";

              }

              // First Column Name
              this.c3name = 'Laufendes Quartal';
              // document.getElementById("c1nid").value = 'Laufendes Quartal';

            } else if (optionvalue === "smonth") {
              var getMonthNumber = Number(cmonth);
              function getDaysInMonth(m, y) {
                     return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                 }
                 ///day of last month
              var ccc = getDaysInMonth(getMonthNumber, cyear);

              this.sec3v = cyear+"-"+cmonth+"-"+"01";
              this.sec3b  = cyear+"-"+cmonth+"-"+ccc;


                // First Column Name
                this.c3name = 'Laufender Monat';
                // document.getElementById("c1nid").value = 'Laufendes Monat';

          }  else {
              // console.log('nothing selected');
              // document.getElementById("c1nid").value = 'Something';
          }

            break;
        }

    }



      var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
             "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" ];


// console.log('month name', monthNames[0]);
      //order
      var e = document.getElementById("orderid");
      this.order = e.options[e.selectedIndex].value;


      if (!$("input[name='cs1tab']:checked").val()) {
         console.log('not checked');

         this.c1v = document.getElementById("col1visIn").value;
         this.c1b = document.getElementById("col1bisIn").value;

         // date 1 month
         var mva = Number(this.c1v.charAt(5)+this.c1v.charAt(6));
         // date 2 month
         var mvb = Number(this.c1b.charAt(5)+this.c1b.charAt(6));

         // date 1 day
         var dayva = Number(this.c1v.charAt(8)+this.c1v.charAt(9));
         //date 2 day
         var dayvb = Number(this.c1b.charAt(8)+this.c1b.charAt(9));

         //current year
         var getyear = Number(this.c1v.charAt(0)+this.c1v.charAt(1)+this.c1v.charAt(2)+this.c1v.charAt(3));

         var getMonthNumber = Number(cmonth);

         if (getyear === cyear){
              //condition for checking jahr
               if ((mvb - mva) === 11 && dayva === 1 && dayvb === 31){
                 this.c1name = 'Laufendes Jahr';
               }else if ((mvb - mva) === 2 && dayva === 1) {
                       function getDaysInMonth(m, y) {
                              return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                          }
                          ///day of last month
                       var ccc = getDaysInMonth(mvb, cyear);
                       console.log('day',ccc);
                        if (dayvb == ccc)  {

                          this.c1name = 'Laufendes Quartal';
                          console.log('Somehting Else 2');

                           } else {
                             this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                               console.log('Somehting Else 3');

                           }




               }  else if (mva === getMonthNumber){
                 //checking Monat
                 function getDaysInMonth(m, y) {
                        return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                    }
                    ///day of last month
                 var ccc = getDaysInMonth(mvb, cyear);

                      if (dayvb === ccc){

                        this.c1name = 'Laufender Monat';
                        console.log('Somehting Else monat');

                      } else {

                         this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                        console.log('Somehting Else 1');
                      }




               }

               else {
                  this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                 console.log('Somehting Else 4');

               }

         } else {
            this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
             console.log('Somehting Else 3');
         }

      }
      else {
        this.c1v = this.sec1v;
        this.c1b = this.sec1b;
        this.c1name = this.c1name;
      }



////////// for cs2 tab

      if (!$("input[name='cs2tab']:checked").val()) {

        console.log('not checked');

        this.c2v = document.getElementById("col2visIn").value;
        this.c2b = document.getElementById("col2bisIn").value;

        // date 1 month
        var mva = Number(this.c2v.charAt(5)+this.c2v.charAt(6));
        // date 2 month
        var mvb = Number(this.c2b.charAt(5)+this.c2b.charAt(6));

        // date 1 day
        var dayva = Number(this.c2v.charAt(8)+this.c2v.charAt(9));
        //date 2 day
        var dayvb = Number(this.c2b.charAt(8)+this.c2b.charAt(9));

        //current year
        var getyear = Number(this.c2v.charAt(0)+this.c2v.charAt(1)+this.c2v.charAt(2)+this.c2v.charAt(3));

        var getMonthNumber = Number(cmonth);

        if (getyear === cyear){
             //condition for checking jahr
              if ((mvb - mva) === 11 && dayva === 1 && dayvb === 31){
                this.c2name = 'Laufendes Jahr';
              }else if ((mvb - mva) === 2 && dayva === 1) {
                      function getDaysInMonth(m, y) {
                             return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                         }
                         ///day of last month
                      var ccc = getDaysInMonth(mvb, cyear);
                      console.log('day',ccc);
                       if (dayvb == ccc)  {

                         this.c2name = 'Laufendes Quartal';
                         console.log('Somehting Else 2');

                          } else {
                            this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                              console.log('Somehting Else 3');

                          }




              }  else if (mva === getMonthNumber){
                //checking Monat
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(mvb, cyear);

                     if (dayvb === ccc){

                       this.c2name = 'Laufender Monat';
                       console.log('Somehting Else monat');

                     } else {

                        this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                       console.log('Somehting Else 1');
                     }




              }

              else {
                 this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                console.log('Somehting Else 4');

              }

        } else {
           this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
            console.log('Somehting Else 3');
        }

      }
      else {
        this.c2v = this.sec2v;
        this.c2b = this.sec2b;
        this.c2name = this.c2name;

        //  console.log('selected');

      }



//////////// Col 3
      if (!$("input[name='cs3tab']:checked").val()) {
        console.log('not checked');

        this.c3v = document.getElementById("col3visIn").value;
        this.c3b = document.getElementById("col3bisIn").value;

        // date 1 month
        var mva = Number(this.c3v.charAt(5)+this.c3v.charAt(6));
        // date 2 month
        var mvb = Number(this.c3b.charAt(5)+this.c3b.charAt(6));

        // date 1 day
        var dayva = Number(this.c3v.charAt(8)+this.c3v.charAt(9));
        //date 2 day
        var dayvb = Number(this.c3b.charAt(8)+this.c3b.charAt(9));

        //current year
        var getyear = Number(this.c3v.charAt(0)+this.c3v.charAt(1)+this.c3v.charAt(2)+this.c3v.charAt(3));

        var getMonthNumber = Number(cmonth);

        if (getyear === cyear){
             //condition for checking jahr
              if ((mvb - mva) === 11 && dayva === 1 && dayvb === 31){
                this.c3name = 'Laufendes Jahr';
              }else if ((mvb - mva) === 2 && dayva === 1) {
                      function getDaysInMonth(m, y) {
                             return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                         }
                         ///day of last month
                      var ccc = getDaysInMonth(mvb, cyear);
                      console.log('day',ccc);
                       if (dayvb == ccc)  {

                         this.c3name = 'Laufendes Quartal';
                         console.log('Somehting Else 2');

                          } else {
                            this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                              console.log('Somehting Else 3');

                          }




              }  else if (mva === getMonthNumber){
                //checking Monat
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(mvb, cyear);

                     if (dayvb === ccc){

                       this.c3name = 'Laufender Monat';
                       console.log('Somehting Else monat');

                     } else {

                        this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                       console.log('Somehting Else 1');
                     }


              }

              else {
                 this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                console.log('Somehting Else 4');

              }

        } else {
           this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
            console.log('Somehting Else 3');
        }

      }
      else {
        //  console.log('selected');
        this.c3v = this.sec3v;
        this.c3b = this.sec3b;
        this.c3name = this.c3name;

      }


      var homesetting = {
          col1v:this.c1v,
          col1b:this.c1b,
          col2v:this.c2v,
          col2b:this.c2b,
          col3v:this.c3v,
          col3b:this.c3b
      };


      if (localStorage.getItem('homesetting') === null) {
        localStorage.setItem('homesetting', JSON.stringify(homesetting));
      } else {
        localStorage.removeItem('homesetting');
        localStorage.setItem('homesetting', JSON.stringify(homesetting));
        // console.log('from sett',JSON.stringify(homesetting));
      };

      var filtsetting = {
          filter: this.filtr,
          order:this.order
      };


      if (localStorage.getItem('filtset') === null) {
        localStorage.setItem('filtset', JSON.stringify(filtsetting));
      } else {
        localStorage.removeItem('filtset');
        localStorage.setItem('filtset', JSON.stringify(filtsetting));
        // console.log('from sett',JSON.stringify(homesetting));
      };


///////////// Column name fuctionality /////////////

    var colmnname = {
      col1name: this.c1name,
      col2name: this.c2name,
      col3name: this.c3name
    }

// console.log('log data',document.getElementById("c1nid").value);



    if (localStorage.getItem('colnameset') === null) {
      localStorage.setItem('colnameset', JSON.stringify(colmnname));
    } else {
      localStorage.removeItem('colnameset');
      localStorage.setItem('colnameset', JSON.stringify(colmnname));
      // console.log('from sett',JSON.stringify(colmnname));
    };

////////////////////////
      this.c1url =this.c1v+'/'+this.c1b;

      // console.log(this.c1url);
      bus.$emit('updated', 'updated');

      $('input[type="radio"]').each(function () {
               $(this).attr('checked', false);
            });

    }

	},


	created: function () {
		this.fetchData();

	},
  mounted: function() {

       var args = {
            format: 'YYYY-MM-DD'
       };
        this.$nextTick(function() {
            $('#col1visIn').datetimepicker(args)
        });
         this.$nextTick(function() {
            $('#col1bisIn').datetimepicker(args)
        });
        this.$nextTick(function() {
            $('#col2visIn').datetimepicker(args)
        });
         this.$nextTick(function() {
            $('#col2bisIn').datetimepicker(args)
        });
        this.$nextTick(function() {
            $('#col3visIn').datetimepicker(args)
        });
         this.$nextTick(function() {
            $('#col3bisIn').datetimepicker(args)
        });

    }

}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>




</style>
