

<template>
   <div class="graph-sidebar">
      <!-- Graph Data -->
      <div class="col-sm-3 col-md-2 sidebar2" id="graph-content">
         <h3>Klinik</h3>
         <h4>Auslastung Performance</h4>
         <div class="col-xs-12">
            <!-- <div class="graph"></div> -->
            <graph-perf></graph-perf>
<!-- <div id="container" style="width: 400px; height: 400px; margin: 0 auto"> -->
         </div>
         <div class="col-xs-12">
            <div class="radial-content">
               <div class="col-xs-4 first-value">
                  <!-- Jan: 50% -->
                  <!-- {{users.radialChart[0][0].value}} -->
                  {{g1name1}}: {{g1col1|roundnumber}}%
               </div>
               <div class="col-xs-4 second-value">
                  <!-- Feb: 70% -->
                  <!-- {{users.radialChart[0][1].value}} -->
                  {{g1name2}}: {{g1col2|roundnumber}}%
               </div>
               <div class="col-xs-4 third-value">
                  <!-- Tot: 60% -->
                  <!-- {{users.radialChart[0][2].value}} -->
                  {{g1name3}}: {{g1total|roundnumber}}%
               </div>
            </div>
         </div>

         <h4 class="padding-top-10">Auslastung Budget</h4>
         <div class="container col-xs-12">
            <!-- <div class="graph2"></div> -->
            <graph-bud></graph-bud>
         </div>
         <div class="col-xs-12">
            <div class="radial-content">
               <div class="col-xs-4 first-value">
                  <!-- Jan: 135% -->
                  <span class="radial-content-title">{{g1name1}}:</span> {{g2col1|roundnumber}}%
               </div>
               <div class="col-xs-4 second-value">
                  <!-- Feb: 90% -->
                  <span class="radial-content-title">{{g1name2}}:</span>  {{g2col2|roundnumber}}%
               </div>
               <div class="col-xs-4 third-value">
                  <!-- Tot: 80% -->
                  <span class="radial-content-title">{{g1name3}}:</span>  {{g2total|roundnumber}}%
               </div>
            </div>
         </div>


         <!-- <div class="col-xs-12" id="rightLowerGraph"></div> -->
         <h4 class="padding-top-10">Umsatz</h4>
         <div class="container col-xs-12">
            <!-- <div class="graph2"></div> -->
            <graph-total></graph-total>
         </div>


      </div>
   </div>
</template>



<script>
import {bus} from '../bus'
import {store} from '../store/store'
import PerfGraph from './PerfGraph'
import BudGraph from './BudGraph'
import TotalGraph from './TotalGraph'
// var furl = 'http://172.16.1.157:8002/firstcolumn/2017-12-12/2017-12-12/';
// var surl = 'http://172.16.1.157:8002/secondcolumn/2017-12-12/2017-12-12/';
// var turl = 'http://172.16.1.157:8002/thirdcolumn/2017-12-12/2017-12-12/';
  // var apiURL = 'https://jsonplaceholder.typicode.com/users';
// var apiURL = 'http://localhost:3000/first';
// var furl = 'http://localhost:3000/first';
// var surl = 'http://localhost:3000/second';
// var turl = 'http://localhost:3000/third';
export default {
  components: {
    'graph-perf': PerfGraph,
    'graph-bud':BudGraph,
    'graph-total':TotalGraph,

  },
  name: 'graph-sidebar',
  data () {
    return {
      users:[],
      items:'',c1v:'',c2v:'',c3v:'',c1b:'',c2b:'',c3b:'',homeObject:'',
      valuefromA:'',per1:'',
      g1name1:'',g1name2:'', g1name3:'', g1col1:'', g1col2:'', g1total:'',
      g2col1:'', g2col2:'', g2total:''
    }
  },
  methods: {
    updateKlinik: function (){
      // console.log('listening' );
      // this.getDataA();
    },
    getDataA: function (kdata) {
      var self = this;
      var k = kdata;
// console.log('GG',k.col1v);
//////////////////////
            var cname = JSON.parse(localStorage.getItem('colnameset'));
            self.g1name1 = cname.col1name;
            self.g1name2 = cname.col2name;
            self.g1name3 = cname.col3name;
            // console.log(cname);

/////////////////////
            self.homeObject = JSON.parse(localStorage.getItem('homesetting'));

            self.c1v = self.homeObject.col1v;
            self.c1b = self.homeObject.col1b;
            self.c2v = self.homeObject.col2v;
            self.c2b = self.homeObject.col2b;
            self.c3v = self.homeObject.col3v;
            self.c3b = self.homeObject.col3b;


            //
            var furl = store.state.globalurl+'/firstcolumn/'+self.c1v+'/'+self.c1b;
            var surl = store.state.globalurl+'/secondcolumn/'+self.c2v+'/'+self.c2b;
            var turl =store.state.globalurl+'/thirdcolumn/'+self.c3v+'/'+self.c3b;
            //
//////////////////////



// console.log(furl);


            function promisifiedGet(url) {
                return new Promise(function(resolve) {
                  $.get(url, resolve);
                });
                }

      Promise.all([
          promisifiedGet(furl),
          promisifiedGet(surl),
          promisifiedGet(turl)
        ]).then(function(results) {


      var combineSources = function(sources) {
      var combined = sources.reduce((result, source) => {

        source.forEach(el => {
          var rsid = el.rsid;
          delete el.rsid;

          if (!result[rsid]) {
            result[rsid] = {rsid: rsid, array: []};
          }

          result[rsid].array.push(el);
        });

        return result;
      }, []);

      return combined.filter(Boolean);
      };

      var mresult = combineSources([results[0], results[1], results[2]]);
      self.items = mresult;
      self.showSideBarGraph(self.items);
      });


    },

    showSideBarGraph: function (mresult) {

      var totaldata = mresult;
      var self = this;

      ///// First colmn Avg calculation
      var count=0, total_perf=0,total_bud=0,total_um=0;

      for(var t in totaldata)
      {
          total_perf = total_perf+parseFloat(totaldata[t].array[0].workload_performance);
          total_bud = total_bud+parseFloat(totaldata[t].array[0].budget_performance);
          total_um = total_um+parseFloat(totaldata[t].array[0].revenue_performance);
          count++;
      }

      var perf1 = total_perf/count;
      var bud1 = total_bud/count;
      var um1 = (total_um/count).toFixed(2);

      var count1=0, total_perf1=0,total_bud1=0,total_um1=0;
      for(var t in totaldata)
      {
          total_perf1 = total_perf1+parseFloat(totaldata[t].array[1].workload_performance);
          total_bud1 = total_bud1+parseFloat(totaldata[t].array[1].budget_performance);
          total_um1 = total_um1+parseFloat(totaldata[t].array[1].revenue_performance);
          count1++;
      }

      var perf2 = total_perf1/count1;
      var bud2 = total_bud1/count1;
      var um2 = (total_um1/count1).toFixed(2);

      var count2=0, total_perf2=0,total_bud2=0,total_um2=0;
      for(var t in totaldata)
      {
          total_perf2 = total_perf2+parseFloat(totaldata[t].array[2].workload_performance);
          total_bud2 = total_bud2+parseFloat(totaldata[t].array[2].budget_performance);
          total_um2 = total_um2+parseFloat(totaldata[t].array[2].revenue_performance);
          count2++;
      }

      var perf3 = total_perf2/count2;
      var bud3 = total_bud2/count2;
      var um3 = (total_um2/count2).toFixed(2);

  // console.log('perf1',totaldata[0].array[0].budget_performance);



    // $.get( '', function( data ) {
        // self.users = data;





        // self.g1name1= 'jan';
        // self.g1name2 = 'feb';
        // self.g1name3 = 'total';
        self.g1total = (perf3).toFixed(2);
        self.g1col2 = (perf2).toFixed(2);
        self.g1col1 = (perf1).toFixed(2);
        // ////2nd radialChart
        self.g2total = (bud3).toFixed(2);
        self.g2col2 = (bud2).toFixed(2);
        self.g2col1 = (bud1).toFixed(2);



                var perfbud =[[
                    {"value": self.g1total,
                      "color": "#6aae6a"},
                    {"value": self.g1col2,
                      "color": "#356307"},
                    { "value": self.g1col1,
                      "color": "#005128"}
                  ],
                  [
                    {"value": self.g2total,
                      "color": "#6aae6a"},
                    {"value": self.g2col2 ,
                      "color": "#356307"},
                    { "value": self.g2col1,
                      "color": "#005128"}
                  ]
                ];

        let perfdata = {
          colA:self.g1col1,
          colB:self.g1col2,
          colTo:self.g1total
        }

        bus.$emit('perf', perfdata);

        let buddata = {
          colA:self.g2col1,
          colB:self.g2col2,
          colTo:self.g2total
        }

        bus.$emit('bud', buddata);

        let gtotaldata = {
          colA:um1,
          colB:um2,
          colTo:um3
        }

        bus.$emit('total', gtotaldata);


  }
  },
  created: function (){
    this.getDataA();
    // this.fetchData();
  },
  mounted: function () {
      bus.$on('updated', this.getDataA);
	},
  filters: {
    roundnumber: function(value) {
      return Math.round(value);
    }
  }





}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
