<template>
  <div class="grapha combo">
  <div class="col-sm-12 col-md-12">
<!-- top row -->
    <div class="row">
      <div class="padpad">


      <div class="col-md-10">
        <h3 style="padding-top: -10px;">{{firstusername}}</h3>
       </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-sm btn-block button-pad" data-toggle="modal" v-on:click="populate" data-target="#settingModal2" data-whatever="@mdo">Bereich</button>
      </div>
    </div>
  </div>
<!-- chart row -->
  <div class="row">
    <div class="padpad" id="gr-refresh">

    <div class="col-md-12">

      <div class="graph-align">
          <div id="graph-combo" style="min-width: 400px; width:900px; height: 400px; margin: 0 auto"></div>
       <!-- <div id="chart_div" style="width: 900px; height: 500px;"></div> -->
     </div>
    </div>
  </div>
</div>
<!-- list row -->
<div class="row">
  <div class="padpad">


  <div class="col-md-12">

                <div class="main">

                                      <!-- <h2>Alle Therapeuten</h2> -->
                                      <div class="table-responsive">
                                        <table class="table" id="main-table">
                                          <thead>
                                            <tr>
                                              <th></th>
                                              <th><h4>{{g1name1}}</h4></th>
                                              <th></th>
                                              <th></th>
                                              <th><h4>{{g1name2}}</h4></th>
                                              <th></th>
                                              <th></th>
                                              <th><h4>{{g1name3}}</h4></th>
                                              <th></th>
                                              <th></th>
                                            </tr>
                                            <tr>
                                              <th>
                                                Terapeut
                                              </th>

                                              <th>Ausl. Perf.</th>
                                              <th>Ausl. Bud.</th>
                                              <th>Umsatz</th>
                                              <th>Ausl. Perf.</th>
                                              <th>Ausl. Bud.</th>
                                              <th>Umsatz</th>
                                              <th>Ausl. Perf.</th>
                                              <th>Ausl. Bud.</th>
                                              <th>Umsatz</th>
                                            </tr>
                                          </thead>
                                          <tbody>

                                            <tr>
                                              <td>{{firstusername}}</td>
                                              <td>{{col1perf|roundnumber}}%</td>
                                              <!-- pretty damn ugly, I know -->
                                              <!-- come up with something more elegant -->
                                              <!-- or change the strucure of JS object -->
                                              <td>{{col1bud|roundnumber}}%</td>
                                              <td><small>CHF </small>{{col1um|roundnumber}}</td>
                                              <td>{{col2perf|roundnumber}}%</td>
                                              <td>{{col2bud|roundnumber}}%</td>
                                              <td><small>CHF </small>{{col2um|roundnumber}}</td>
                                              <td>{{col3perf|roundnumber}}%</td>
                                              <td>{{col3bud|roundnumber}}%</td>
                                              <td><small>CHF </small>{{col3um|roundnumber}}</td>
                                            </tr>

                                            <tr v-if="show2nduser" id="trchange">
                                              <td>
                                                <select id="getclick" class="form-control" v-on:change="userChanged" >

                                                  <option  v-bind:value="user.rsid" v-for="user in users"> {{user.last_name}} {{user.first_name}}</option>

                                                </select>


                                              </td>
                                              <td><span id="line3m1">{{ncol1perf|roundnumber}}</span>%</td>
                                              <!-- pretty damn ugly, I know -->
                                              <!-- come up with something more elegant -->
                                              <!-- or change the strucure of JS object -->
                                              <td><span id="line4m1">{{ncol1bud|roundnumber}}</span>%</td>
                                              <td><small>CHF </small><span id="barB1">{{ncol1um|roundnumber}}</span></td>
                                              <td><span id="line3m2">{{ncol2perf|roundnumber}}</span>%</td>
                                              <td><span id="line4m2">{{ncol2bud|roundnumber}}</span>%</td>
                                              <td><small>CHF </small><span id="barB2">{{ncol2um|roundnumber}}</span></td>
                                              <td><span id="line3m3">{{ncol3perf|roundnumber}}</span>%</td>
                                              <td><span id="line4m3">{{ncol3bud|roundnumber}}</span>%</td>
                                              <td><small>CHF </small><span id="barB3">{{ncol3um|roundnumber}}</span></td>
                                            </tr>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <div class="">
                                          <button @click="show2nduser = true" class="btn btn-primary">Compare</button>
                                        </div>


                                      </div>



                </div>


  </div>

</div>
</div>


     </div>


     <!--  End Table data -->
         <!-- modal -->
         <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"> -->
           <div class="modal fade" id="settingModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog container-fluid" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                       <button type="submit" class="btn btn-success" data-dismiss="modal" aria-label="Close" v-on:click="onSubmit()"><span>Save</span></button>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h2 class="modal-title sub-header" id="exampleModalLabel">Einstellungen Ubersicht</h2>
                  </div>
                  <div class="container modal-body">
                     <!-- col -->
                     <div class="col-xs-12 col-md-3">
                        <div class="checkbox">
                           <!-- <input type="checkbox" id="chBox05" />
                           <label for="chBox05">Spalte 1</label> -->
                           <!-- dropdown -->
                           <div class="tabs-wrap">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                 <li role="presentation" class="active"><a href="#zeitraum1" aria-controls="zeitraum1" role="tab" data-toggle="tab">Zeitraum</a></li>
                                 <li role="presentation"><a href="#totalRow01" aria-controls="totalRow01" role="tab" data-toggle="tab">Total</a></li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane active" id="zeitraum1">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <td>Vis:</td>
                                             <td><div class='input-group date' id='ncol1vis'>
                                                   <input v-model="c1v" id="ncol1visIn" type='text' class="form-control" />
                                                   <span class="input-group-addon">
                                                       <icon name="calendar"></icon>
                                                   </span>
                                               </div>
                                           </td>
                                          </tr>
                                          <tr>
                                             <td>Von:</td>
                                             <td>
                                               <div class='input-group date' id='ncol1bis'>
                                                     <input v-model="c1b" id='ncol1bisIn' type='text' class="form-control" />
                                                     <span class="input-group-addon">
                                                         <icon name="calendar"></icon>
                                                     </span>
                                               </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>Titel:</td>
                                             <td><input type="text" id="nc1nid" v-model="g1name1" readonly></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div role="tabpanel" class="tab-pane" id="totalRow01">
                                   <div class="radio">
                                     <label><input value="syear" name="c2s1tab" type="radio">Laufendes Jahr</label>
                                   </div>
                                   <div class="radio">
                                     <label><input value="squarter" name="c2s1tab" type="radio">Laufendes Quartal</label>
                                   </div>
                                   <div class="radio">
                                     <label><input value="smonth" name="c2s1tab" type="radio">Laufender Monat</label>
                                   </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col -->
                     <div class="col-xs-12 col-md-3">
                        <div class="checkbox">
                           <!-- <input type="checkbox" id="chBox06" />
                           <label for="chBox06">Spalte 2</label> -->
                           <!-- dropdown -->
                           <div class="tabs-wrap">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                 <li role="presentation" class="active"><a href="#zeitraum2" aria-controls="zeitraum2" role="tab" data-toggle="tab">Zeitraum</a></li>
                                 <li role="presentation"><a href="#totalRow02" aria-controls="totalRow02" role="tab" data-toggle="tab">Total</a></li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane active" id="zeitraum2">
                                    <table class="table">
                                       <tbody>
                                         <tr>
                                            <td>Vis:</td>
                                            <td><div class='input-group date' id='ncol2vis'>
                                                  <input v-model="c2v" id='ncol2visIn' type='text' class="form-control" />
                                                  <span class="input-group-addon">
                                                      <icon name="calendar"></icon>
                                                  </span>
                                              </div>
                                          </td>
                                         </tr>
                                         <tr>
                                            <td>Von:</td>
                                            <td>
                                              <div class='input-group date' id='ncol2bis'>
                                                    <input v-model="c2b" id='ncol2bisIn' type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <icon name="calendar"></icon>
                                                    </span>
                                              </div>
                                            </td>
                                         </tr>
                                          <tr>
                                             <td>Titel:</td>
                                            <td><input type="text" id="nc2nid" v-model="g1name2" readonly></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div role="tabpanel" class="tab-pane" id="totalRow02">
                                   <div class="radio">
                                     <label><input value="syear" name="c2s2tab" type="radio">Laufendes Jahr</label>
                                   </div>
                                   <div class="radio">
                                     <label><input value="squarter" name="c2s2tab" type="radio">Laufendes Quartal</label>
                                   </div>
                                   <div class="radio">
                                     <label><input value="smonth" name="c2s2tab" type="radio">Laufender Monat</label>
                                   </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- col -->
                     <div class="col-xs-12 col-md-3">
                        <div class="checkbox">
                           <!-- <input type="checkbox" id="chBox07" />
                           <label for="chBox07">Spalte 3</label> -->
                           <!-- dropdown -->
                           <div class="tabs-wrap">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                 <li role="presentation" class="active"><a href="#zeitraum3" aria-controls="zeitraum3" role="tab" data-toggle="tab">Zeitraum</a></li>
                                 <li role="presentation"><a href="#totalRow03" aria-controls="totalRow03" role="tab" data-toggle="tab">Total</a></li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane active" id="zeitraum3">
                                    <table class="table">
                                       <tbody>
                                         <tr>
                                            <td>Vis:</td>
                                            <td><div class='input-group date' id='ncol3vis'>
                                                  <input v-model="c3v" id='ncol3visIn' type='text' class="form-control" />
                                                  <span class="input-group-addon">
                                                      <icon name="calendar"></icon>
                                                  </span>
                                              </div>
                                          </td>
                                         </tr>
                                         <tr>
                                            <td>Von:</td>
                                            <td>
                                              <div class='input-group date' id='ncol3bis'>
                                                    <input v-model="c3b" id='ncol3bisIn' type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <icon name="calendar"></icon>
                                                    </span>
                                              </div>
                                            </td>
                                         </tr>
                                          <tr>
                                             <td>Titel:</td>
                                             <td><input type="text" id="nc3nid" v-model="g1name3" readonly></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div role="tabpanel" class="tab-pane" id="totalRow03">
                                   <div class="radio">
                                     <label><input value="syear" name="c2s3tab" type="radio">Laufendes Jahr</label>
                                   </div>
                                   <div class="radio">
                                     <label><input value="squarter" name="c2s3tab" type="radio">Laufendes Quartal</label>
                                   </div>
                                   <div class="radio">
                                     <label><input value="smonth" name="c2s3tab" type="radio">Laufender Monat</label>
                                   </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
  </div>
</template>

<script>
import {
	bus
} from '../bus';
import {store} from '../store/store'

var apiURL = store.state.globalurl+'/therapists/';

export default {
	name: 'grapha',store,
	data() {
		return {
      g1name1:'',g1name2:'',g1name3:'',
      show2nduser: false,
			combodata: [],
			firstuser: [],
      firstusername:'',
      firstnameA:'',
      firstnameB:'',
      secondusername:'',
			secuser: '',
			users: [],
items:'',
			testuser: '',
  c1v:'',c1b:'',c2v:'',c2b:'',c3v:'',c3b:'',
  c1s:'',c2s:'',c3s:'', sec1v:'',sec1b:'',
  sec2v:'',sec2b:'',
  sec3v:'',sec3b:'',
      // testob
      a:'',
      b:'',
      c:'',

      //firstcolumn
      firstData:'',
      secondData:'',
      thirdData:'',
      firstuserId:'',

			////////////// 1st user //////////////
			col1perf: '',
			col1bud: '',
			col1um: '',
			col2perf: '',
			col2bud: '',
			col2um: '',
			col3perf: '',
			col3bud: '',
			col3um: '',
			////////////// 2nd user ///////////////
			ncol1perf: '',
			ncol1bud: '',
			ncol1um: '',
			ncol2perf: '',
			ncol2bud: '',
			ncol2um: '',
			ncol3perf: '',
			ncol3bud: '',
			ncol3um: '',

		}
	},
	methods: {

    //////////////////////////////////////////////////////
		fetchData: function (id) {
      var cname = JSON.parse(localStorage.getItem('colnameset'));
      this.g1name1 = cname.col1name;
      this.g1name2 = cname.col2name;
      this.g1name3 = cname.col3name;


      // this.fetchAll();
      var gobject = JSON.parse(localStorage.getItem('homesetting'));
      // console.log(gobject);

      var furl = store.state.globalurl+'/firstcolumn/'+gobject.col1v+'/'+gobject.col1b;
      var surl = store.state.globalurl+'/secondcolumn/'+gobject.col2v+'/'+gobject.col2b;
      var turl = store.state.globalurl+'/thirdcolumn/'+gobject.col3v+'/'+gobject.col3b;

      // console.log('combotop',furl);
      // console.log('combotop',surl);
      // console.log('combotop',turl);


      var self = this;
      function promisifiedGet(url) {
          return new Promise(function(resolve) {
            $.get(url, resolve);
          });
      }

      Promise.all([
      promisifiedGet(furl),
      promisifiedGet(surl),
      promisifiedGet(turl)
      ]).then(function(results) {
      var combineSources = function(sources) {
      var combined = sources.reduce((result, source) => {

      source.forEach(el => {
      var rsid = el.rsid;
      delete el.rsid;

      if (!result[rsid]) {
      result[rsid] = {rsid: rsid, array: []};
      }

      result[rsid].array.push(el);
      });

      return result;
      }, []);

      return combined.filter(Boolean);
      };

      var mresult = combineSources([results[0], results[1], results[2]]);


      self.items = mresult;
//////////////////////////

function findById(source, usrid) {
    for (var i = 0; i < source.length; i++) {
      if (source[i].rsid === usrid) {
        return source[i];

      }
    }
    throw "Fetch Couldn't find object with id: " + usrid;
  }

  // console.log('fetch',self.items);

  self.firstuser = findById(self.items, id);
  self.firstusername = self.firstuser.array[0].last_name+ ' '+self.firstuser.array[0].first_name;
  self.firstnameA = self.firstuser.array[0].first_name;
  // console.log(self.firstusername);
  self.col1perf = self.firstuser.array[0].workload_performance;
  self.col1bud = self.firstuser.array[0].budget_performance;
  self.col1um = self.firstuser.array[0].revenue_performance;
  self.col2perf = self.firstuser.array[1].workload_performance;
  self.col2bud = self.firstuser.array[1].budget_performance;
  self.col2um = self.firstuser.array[1].revenue_performance;
  self.col3perf = self.firstuser.array[2].workload_performance;
  self.col3bud = self.firstuser.array[2].budget_performance;
  self.col3um = self.firstuser.array[2].revenue_performance;
  self.showcomparison(self.firstuser);

      });
		},


		allusersData: function () {
			var self = this;
      //  var ndata = data;

			$.get(apiURL, function (data) {
				self.users =  data.sort(function(a, b){
         var nameA=a.last_name.toLowerCase(), nameB=b.last_name.toLowerCase();
         if (nameA < nameB) //sort string ascending
          return -1;
         if (nameA > nameB)
          return 1;
         return 0; //default return value (no sorting)
        });
        // console.log('old',data.people[0]);

			});
		},
		userChanged: function (e) {
      var self = this;
			// this.secuser = e.target.value - 1;
      var sid = Number(e.target.value);
      // console.log('userid',this.secuser);


      function findNewById(source, usrid) {
          for (var i = 0; i < source.length; i++) {
            if (source[i].rsid === usrid) {
              return source[i];

            }
          }
          throw "User Changed Couldn't find object with id: " + usrid;
        }

      var secuserdata = findNewById(this.items, sid);
      self.ncol1perf = secuserdata.array[0].workload_performance;
      self.ncol1bud = secuserdata.array[0].budget_performance;
      self.ncol1um = secuserdata.array[0].revenue_performance;
      self.ncol2perf = secuserdata.array[1].workload_performance;
      self.ncol2bud = secuserdata.array[1].budget_performance;
      self.ncol2um = secuserdata.array[1].revenue_performance;
      self.ncol3perf = secuserdata.array[2].workload_performance;
      self.ncol3bud = secuserdata.array[2].budget_performance;
      self.ncol3um = secuserdata.array[2].revenue_performance;
      self.firstnameB = secuserdata.array[0].first_name;
		},

		//fuction to show comparison start
		showcomparison: function (data) {

      var self = this;
			// this.firstuser = data;
			var newdata = data;


function something() {
  var line1m1 = Number(newdata.array[0].budget_performance);
  var line1m2 = Number(newdata.array[1].budget_performance);
  var line1m3 = Number(newdata.array[2].budget_performance);
  var line2m1 = Number(newdata.array[0].workload_performance);
  var line2m2 = Number(newdata.array[1].workload_performance);
  var line2m3 = Number(newdata.array[2].workload_performance);

  var line3m1 = Number(self.ncol1bud);
  var line3m2 = Number(self.ncol2bud);
  var line3m3 = Number(self.ncol3bud);

  var line4m1 = Number(self.ncol1perf);
  var line4m2 = Number(self.ncol2perf);
  var line4m3 = Number(self.ncol3perf);

  /// 1st bar data
  var barA1 = Number(newdata.array[0].revenue_performance);
  var barA2 = Number(newdata.array[1].revenue_performance);
  var barA3 = Number(newdata.array[2].revenue_performance);

  var barB1 = Number(self.ncol1um);
  var barB2 = Number(self.ncol2um);
  var barB3 = Number(self.ncol3um);

  let userA = self.firstnameA;
  let userB = self.firstnameB;

 $('#graph-combo').highcharts({
  //  plotOptions: {
  //       series: {
  //           animation: false
  //       }
  //   },
   title: {
       text: ''
   },
   xAxis: {
       categories: ['Jan', 'Feb', 'Mar']
   },
   yAxis: [{ // Primary yAxis
    labels: {
        format: '{value}',
        style: {
            color: Highcharts.getOptions().colors[1]
        }
    },
    title: {
        text: 'Umsatz',
        style: {
            color: Highcharts.getOptions().colors[1]
        }
    },
    opposite: true

}, { // Secondary yAxis
    gridLineWidth: 0,
    title: {
        text: 'Perf. Bud.',
        style: {
            color: Highcharts.getOptions().colors[0]
        }
    },
    labels: {
        format: '{value}',
        style: {
            color: Highcharts.getOptions().colors[0]
        }
    }

}],
   labels: {
       items: [{
           html: '',
           style: {
               left: '50px',
               top: '18px',
               color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
           }
       }]
   },
   series: [{
       type: 'column',
       name: userA,
       data: [barA1, barA2, barA3]
   }, {
       type: 'column',
       name: userB,
       data: [barB1, barB2, barB3]
   }, {
       type: 'spline',
       name: userA +' Ausl. Perf',
        yAxis: 1,
       data: [line2m1, line2m2, line2m3],
       marker: {
           lineWidth: 2,
           lineColor: Highcharts.getOptions().colors[3],
           fillColor: 'white'
       }
   }, {
       type: 'spline',
       name: userA +' Ausl. Bud',
        yAxis: 1,
       data: [line1m1, line1m2, line1m3],
       marker: {
           lineWidth: 2,
           lineColor: Highcharts.getOptions().colors[3],
           fillColor: 'white'
       }
   }
   , {
       type: 'spline',
       name: userB +' Ausl. Perf',
        yAxis: 1,
       data: [line4m1, line4m2, line4m3],
       marker: {
           lineWidth: 2,
           lineColor: Highcharts.getOptions().colors[3],
           fillColor: 'white'
       }
   }
   , {
       type: 'spline',
       name: userB +' Ausl. Bud',
        yAxis: 1,
       data: [line3m1, line3m2, line3m3],
       marker: {
           lineWidth: 2,
           lineColor: Highcharts.getOptions().colors[3],
           fillColor: 'white'
       }
   }]
});
};

  $(document).ready(function(){
      something();
  });

//       $('#getclick').change(function(){
//           something();
// console.log('click listen');
//       });


      $(document).on('change','#getclick',function(){
        something();
          // console.log('click listen');
      });

		},

		populate: function () {
        var grObject = JSON.parse(localStorage.getItem('homesetting'));
        this.c1v = grObject.col1v;
        this.c1b = grObject.col1b;
        this.c2v = grObject.col2v;
        this.c2b = grObject.col2b;
        this.c3v = grObject.col3v;
        this.c3b =grObject.col3b;


        var colObject = JSON.parse(localStorage.getItem('colnameset'));
           this.g1name1 = colObject.col1name;
           this.g1name2 = colObject.col2name;
           this.g1name3 = colObject.col3name;

		},
    onSubmit: function(){
      // bus.$on('userdata', this.fetchData);

      var currentDate = new Date();

      var curmonth = currentDate.getMonth()+1;
      var cmonth= (curmonth < 10 ? '0' : '') + curmonth;
      var cyear = currentDate.getFullYear();



      //tab1 date
      var col1op = document.getElementsByName('c2s1tab');

      for (var i = 0, length = col1op.length; i < length; i++) {
          if (col1op[i].checked) {
            //get the value
              var optionvalue = col1op[i].value;

              if (optionvalue === "syear") {
                this.sec1v = cyear+"-01-"+"01";
                this.sec1b = cyear+"-12-"+"31";

                // First Column Name
                this.c1name = 'Laufendes Jahr';
                // document.getElementById("c1nid").value = 'Laufendes Jahr';

              } else if (optionvalue === "squarter") {
                // console.log('quarter');
                if (cmonth === "01" || cmonth === "02" || cmonth === "03") {

                  // document.getElementById("col1visIn").value  = cyear+"-01-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-03-"+"31";
                  this.sec1v = cyear+"-01-"+"01";
                    this.sec1b  = cyear+"-03-"+"31";

                } else if (cmonth === "04" || cmonth === "05" || cmonth === "06") {
                  // document.getElementById("col1visIn").value  = cyear+"-04-"+"01";
                  //   document.getElementById("col1bisIn").value = cyear+"-06-"+"30";

                    this.sec1v  = cyear+"-04-"+"01";
                      this.sec1b = cyear+"-06-"+"30";


                } else if (cmonth === "07" || cmonth === "08" || cmonth === "09") {
                  // document.getElementById("col1visIn").value  = cyear+"-07-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-09-"+"30";

                    this.sec1v  = cyear+"-07-"+"01";
                    this.sec1b  = cyear+"-09-"+"30";


                } else {
                  // document.getElementById("col1visIn").value  = cyear+"-10-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-12-"+"31";

                  this.sec1v  = cyear+"-10-"+"01";
                      this.sec1b  = cyear+"-12-"+"31";


                }

                // First Column Name
                this.c1name = 'Laufendes Quartal';
                // document.getElementById("c1nid").value = 'Laufendes Quartal';

              } else if (optionvalue === "smonth") {
                var getMonthNumber = Number(cmonth);
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(getMonthNumber, cyear);

                this.sec1v = cyear+"-"+cmonth+"-"+"01";
                this.sec1b  = cyear+"-"+cmonth+"-"+ccc;


                  // First Column Name
                  this.c1name = 'Laufender Monat';
                  // document.getElementById("c1nid").value = 'Laufendes Monat';

            }  else {
                // console.log('nothing selected');
                // document.getElementById("c1nid").value = 'Something';
            }

              break;
          }

      }



      //tab2 date
      var col2op = document.getElementsByName('c2s2tab');

      for (var i = 0, length = col2op.length; i < length; i++) {
          if (col2op[i].checked) {
            //get the value
              var optionvalue = col2op[i].value;

              if (optionvalue === "syear") {

                this.sec2v = cyear+"-01-"+"01";
                this.sec2b = cyear+"-12-"+"31";

                // First Column Name
                this.c2name = 'Laufendes Jahr';

              } else if (optionvalue === "squarter") {
                // console.log('quarter');
                if (cmonth === "01" || cmonth === "02" || cmonth === "03") {

                  // document.getElementById("col1visIn").value  = cyear+"-01-"+"01";
                  //   document.getElementById("col1bisIn").value  = cyear+"-03-"+"31";
                  this.sec2v = cyear+"-01-"+"01";
                    this.sec2b  = cyear+"-03-"+"31";

                } else if (cmonth === "04" || cmonth === "05" || cmonth === "06") {
                  // document.getElementById("col1visIn").value  = cyear+"-04-"+"01";
                  //   document.getElementById("col1bisIn").value = cyear+"-06-"+"30";

                    this.sec2v  = cyear+"-04-"+"01";
                      this.sec2b = cyear+"-06-"+"30";


                } else if (cmonth === "07" || cmonth === "08" || cmonth === "09") {
                    this.sec2v  = cyear+"-07-"+"01";
                    this.sec2b  = cyear+"-09-"+"30";


                } else {

                  this.sec2v  = cyear+"-10-"+"01";
                  this.sec2b  = cyear+"-12-"+"31";

                }

                // First Column Name
                this.c2name = 'Laufendes Quartal';
                // document.getElementById("c1nid").value = 'Laufendes Quartal';

              } else if (optionvalue === "smonth") {
                var getMonthNumber = Number(cmonth);
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(getMonthNumber, cyear);

                this.sec2v = cyear+"-"+cmonth+"-"+"01";
                this.sec2b  = cyear+"-"+cmonth+"-"+ccc;


                  // First Column Name
                  this.c2name = 'Laufender Monat';
                  // document.getElementById("c1nid").value = 'Laufendes Monat';

            }  else {
                // console.log('nothing selected');
                // document.getElementById("c1nid").value = 'Something';
            }

              break;
          }

      }




      //tab3 date
      var col3op = document.getElementsByName('c2s3tab');

      for (var i = 0, length = col3op.length; i < length; i++) {

         if (col3op[i].checked) {
          //get the value
            var optionvalue = col3op[i].value;

            if (optionvalue === "syear") {

              this.sec3v = cyear+"-01-"+"01";
              this.sec3b = cyear+"-12-"+"31";

              // First Column Name
              this.c3name = 'Laufendes Jahr';

            } else if (optionvalue === "squarter") {
              // console.log('quarter');
              if (cmonth === "01" || cmonth === "02" || cmonth === "03") {

                // document.getElementById("col1visIn").value  = cyear+"-01-"+"01";
                //   document.getElementById("col1bisIn").value  = cyear+"-03-"+"31";
                this.sec3v = cyear+"-01-"+"01";
                this.sec3b  = cyear+"-03-"+"31";

              } else if (cmonth === "04" || cmonth === "05" || cmonth === "06") {
                // document.getElementById("col1visIn").value  = cyear+"-04-"+"01";
                //   document.getElementById("col1bisIn").value = cyear+"-06-"+"30";

                  this.sec3v  = cyear+"-04-"+"01";
                    this.sec3b = cyear+"-06-"+"30";


              } else if (cmonth === "07" || cmonth === "08" || cmonth === "09") {
                  this.sec3v  = cyear+"-07-"+"01";
                  this.sec3b  = cyear+"-09-"+"30";


              } else {

                this.sec3v  = cyear+"-10-"+"01";
                this.sec3b  = cyear+"-12-"+"31";

              }

              // First Column Name
              this.c3name = 'Laufendes Quartal';
              // document.getElementById("c1nid").value = 'Laufendes Quartal';

            } else if (optionvalue === "smonth") {
              var getMonthNumber = Number(cmonth);
              function getDaysInMonth(m, y) {
                     return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                 }
                 ///day of last month
              var ccc = getDaysInMonth(getMonthNumber, cyear);

              this.sec3v = cyear+"-"+cmonth+"-"+"01";
              this.sec3b  = cyear+"-"+cmonth+"-"+ccc;


                // First Column Name
                this.c3name = 'Laufender Monat';
                // document.getElementById("c1nid").value = 'Laufendes Monat';

          }  else {
              // console.log('nothing selected');
              // document.getElementById("c1nid").value = 'Something';
          }

            break;
        }

    }



      var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
             "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" ];


// console.log('month name', monthNames[0]);
      //order


      if (!$("input[name='c2s1tab']:checked").val()) {
         console.log('not checked');

         this.c1v = document.getElementById("ncol1visIn").value;
         this.c1b = document.getElementById("ncol1bisIn").value;

         // date 1 month
         var mva = Number(this.c1v.charAt(5)+this.c1v.charAt(6));
         // date 2 month
         var mvb = Number(this.c1b.charAt(5)+this.c1b.charAt(6));

         // date 1 day
         var dayva = Number(this.c1v.charAt(8)+this.c1v.charAt(9));
         //date 2 day
         var dayvb = Number(this.c1b.charAt(8)+this.c1b.charAt(9));

         //current year
         var getyear = Number(this.c1v.charAt(0)+this.c1v.charAt(1)+this.c1v.charAt(2)+this.c1v.charAt(3));

         var getMonthNumber = Number(cmonth);

         if (getyear === cyear){
              //condition for checking jahr
               if ((mvb - mva) === 11 && dayva === 1 && dayvb === 31){
                 this.c1name = 'Laufendes Jahr';
               }else if ((mvb - mva) === 2 && dayva === 1) {
                       function getDaysInMonth(m, y) {
                              return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                          }
                          ///day of last month
                       var ccc = getDaysInMonth(mvb, cyear);
                       console.log('day',ccc);
                        if (dayvb == ccc)  {

                          this.c1name = 'Laufendes Quartal';
                          console.log('Somehting Else 2');

                           } else {
                             this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                               console.log('Somehting Else 3');

                           }




               }  else if (mva === getMonthNumber){
                 //checking Monat
                 function getDaysInMonth(m, y) {
                        return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                    }
                    ///day of last month
                 var ccc = getDaysInMonth(mvb, cyear);

                      if (dayvb === ccc){

                        this.c1name = 'Laufender Monat';
                        console.log('Somehting Else monat');

                      } else {

                         this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                        console.log('Somehting Else 1');
                      }




               }

               else {
                  this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                 console.log('Somehting Else 4');

               }

         } else {
            this.c1name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
             console.log('Somehting Else 3');
         }

      }
      else {
        this.c1v = this.sec1v;
        this.c1b = this.sec1b;
        this.c1name = this.c1name;
      }



////////// for cs2 tab

      if (!$("input[name='c2s2tab']:checked").val()) {

        // console.log('not checked');

        this.c2v = document.getElementById("ncol2visIn").value;
        this.c2b = document.getElementById("ncol2bisIn").value;

        // date 1 month
        var mva = Number(this.c2v.charAt(5)+this.c2v.charAt(6));
        // date 2 month
        var mvb = Number(this.c2b.charAt(5)+this.c2b.charAt(6));

        // date 1 day
        var dayva = Number(this.c2v.charAt(8)+this.c2v.charAt(9));
        //date 2 day
        var dayvb = Number(this.c2b.charAt(8)+this.c2b.charAt(9));

        //current year
        var getyear = Number(this.c2v.charAt(0)+this.c2v.charAt(1)+this.c2v.charAt(2)+this.c2v.charAt(3));

        var getMonthNumber = Number(cmonth);

        if (getyear === cyear){
             //condition for checking jahr
              if ((mvb - mva) === 11 && dayva === 1 && dayvb === 31){
                this.c2name = 'Laufendes Jahr';
              }else if ((mvb - mva) === 2 && dayva === 1) {
                      function getDaysInMonth(m, y) {
                             return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                         }
                         ///day of last month
                      var ccc = getDaysInMonth(mvb, cyear);
                      console.log('day',ccc);
                       if (dayvb == ccc)  {

                         this.c2name = 'Laufendes Quartal';
                         console.log('Somehting Else 2');

                          } else {
                            this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                              console.log('Somehting Else 3');

                          }




              }  else if (mva === getMonthNumber){
                //checking Monat
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(mvb, cyear);

                     if (dayvb === ccc){

                       this.c2name = 'Laufender Monat';
                       console.log('Somehting Else monat');

                     } else {

                        this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                       console.log('Somehting Else 1');
                     }




              }

              else {
                 this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                console.log('Somehting Else 4');

              }

        } else {
           this.c2name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
            console.log('Somehting Else 3');
        }

      }
      else {
        this.c2v = this.sec2v;
        this.c2b = this.sec2b;
        this.c2name = this.c2name;

        //  console.log('selected');

      }



//////////// Col 3
      if (!$("input[name='c2s3tab']:checked").val()) {
        // console.log('not checked');

        this.c3v = document.getElementById("ncol3visIn").value;
        this.c3b = document.getElementById("ncol3bisIn").value;

        // date 1 month
        var mva = Number(this.c3v.charAt(5)+this.c3v.charAt(6));
        // date 2 month
        var mvb = Number(this.c3b.charAt(5)+this.c3b.charAt(6));

        // date 1 day
        var dayva = Number(this.c3v.charAt(8)+this.c3v.charAt(9));
        //date 2 day
        var dayvb = Number(this.c3b.charAt(8)+this.c3b.charAt(9));

        //current year
        var getyear = Number(this.c3v.charAt(0)+this.c3v.charAt(1)+this.c3v.charAt(2)+this.c3v.charAt(3));

        var getMonthNumber = Number(cmonth);

        if (getyear === cyear){
             //condition for checking jahr
              if ((mvb - mva) === 11 && dayva === 1 && dayvb === 31){
                this.c3name = 'Laufendes Jahr';
              }else if ((mvb - mva) === 2 && dayva === 1) {
                      function getDaysInMonth(m, y) {
                             return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                         }
                         ///day of last month
                      var ccc = getDaysInMonth(mvb, cyear);
                      console.log('day',ccc);
                       if (dayvb == ccc)  {

                         this.c3name = 'Laufendes Quartal';
                         console.log('Somehting Else 2');

                          } else {
                            this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                              console.log('Somehting Else 3');

                          }




              }  else if (mva === getMonthNumber){
                //checking Monat
                function getDaysInMonth(m, y) {
                       return m===2?y&3||!(y%25)&&y&15?28:29:30+(m+(m>>3)&1);
                   }
                   ///day of last month
                var ccc = getDaysInMonth(mvb, cyear);

                     if (dayvb === ccc){

                       this.c3name = 'Laufender Monat';
                       console.log('Somehting Else monat');

                     } else {

                        this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                       console.log('Somehting Else 1');
                     }


              }

              else {
                 this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
                console.log('Somehting Else 4');

              }

        } else {
           this.c3name = dayva+"," +monthNames[mva-1]+ " - "+dayvb+","+monthNames[mvb-1];
            console.log('Somehting Else 3');
        }

      }
      else {
        //  console.log('selected');
        this.c3v = this.sec3v;
        this.c3b = this.sec3b;
        this.c3name = this.c3name;

      }


      var homesetting = {
          col1v:this.c1v,
          col1b:this.c1b,
          col2v:this.c2v,
          col2b:this.c2b,
          col3v:this.c3v,
          col3b:this.c3b
      };


      if (localStorage.getItem('homesetting') === null) {
        localStorage.setItem('homesetting', JSON.stringify(homesetting));
      } else {
        localStorage.removeItem('homesetting');
        localStorage.setItem('homesetting', JSON.stringify(homesetting));
        // console.log('from sett',JSON.stringify(homesetting));
      };



///////////// Column name fuctionality /////////////

    var colmnname = {
      col1name: this.c1name,
      col2name: this.c2name,
      col3name: this.c3name
    }

// console.log('log data',document.getElementById("c1nid").value);



    if (localStorage.getItem('colnameset') === null) {
      localStorage.setItem('colnameset', JSON.stringify(colmnname));
    } else {
      localStorage.removeItem('colnameset');
      localStorage.setItem('colnameset', JSON.stringify(colmnname));
      // console.log('from sett',JSON.stringify(colmnname));
    };

        this.allusersData();

        $('input[type="radio"]').each(function () {
                 $(this).attr('checked', false);
              });
    }
		//////fuction to show comparison end
	},
	created: function () {
		this.allusersData();

	},

	mounted: function () {
    // this.fetchAll();
    bus.$on('userdata', this.fetchData);

       var args = {

            format: 'YYYY-MM-DD'
       };
        this.$nextTick(function() {
            $('#ncol1visIn').datetimepicker(args)
        });
         this.$nextTick(function() {
            $('#ncol1bisIn').datetimepicker(args)
        });
        this.$nextTick(function() {
            $('#ncol2visIn').datetimepicker(args)
        });
         this.$nextTick(function() {
            $('#ncol2bisIn').datetimepicker(args)
        });
        this.$nextTick(function() {
            $('#ncol3visIn').datetimepicker(args)
        });
         this.$nextTick(function() {
            $('#ncol3bisIn').datetimepicker(args)
        });

    },
    filters: {
      roundnumber: function(value) {
        return Math.round(value);
      }
    }
}


</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*.gr-refresh {
  background: red;
}*/
.myChartDiv {
  max-width: 600px;
  max-height: 400px;
}
</style>
