<template>
  <div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="#"><img src="/static/img/logo.jpg" alt="Salina" height="50" /></a>
      </div>

    </div>
  </nav>
</div>
</template>

<script>
export default {
  name: 'header',
  data () {
    return {
      title: 'Header Area'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
