<template>
  <div class="main-content">

        <div class="container-fluid" id="main-content">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <!-- <li class="active col-xs-12"><a href="#" class="btn btn-primary btn-block" role="button">Overview</a></li> -->
                <li class="col-xs-12">
                  <div style="width:40%;float:left;"><a href="#" class="btn btn-default btn-block active" role="button">Alle</a></div>
                  <div style="width:40%;float:right;"><a href="#" class="btn btn-default btn-block" role="button">Suchen</a></div>
                </li>
                <li class="col-xs-12"><a href="#" class="btn btn-default btn-block" role="button" v-for="x in users.people"><b>{{x.surname}}</b> {{x.name}}</a></li>
              </ul>
              <!-- <ul class="nav nav-sidebar">
                <li class="col-xs-12"><a href="#" class="btn btn-default btn-block" role="button">Nav item</a></li>
                <li class="col-xs-12"><a href="#" class="btn btn-default btn-block" role="button">Nav item again</a></li>
                <li class="col-xs-12"><a href="#" class="btn btn-default btn-block" role="button">One more nav</a></li>
                <li class="col-xs-12"><a href="#" class="btn btn-default btn-block" role="button">Another nav item</a></li>
                <li class="col-xs-12"><a href="#" class="btn btn-default btn-block" role="button">More navigation</a></li>
              </ul> -->
              <ul class="nav nav-sidebar">
                <li class="col-xs-12"><button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button></li>
                <li class="col-xs-12"><button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button></li>
                <li class="col-xs-12"><button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button></li>
              </ul>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
              <!-- <h1 class="page-header">Dashboard</h1> -->

              <!-- <div class="row placeholders">
              </div> -->




                                  <h2>Alle Therapeuten</h2>
                                  <div class="table-responsive">
                                    <table class="table" id="main-table">
                                      <thead>
                                        <tr>
                                          <th></th>
                                          <th colspan="3" v-for="month in users.tableMonthTitles">{{month}}</th>
                                        </tr>
                                        <tr>
                                          <th v-for="col in users.tableHead">{{col}}</th>
                                          <!-- <th>#</th>
                                          <th>#</th>
                                          <th>Header</th>
                                          <th>#</th>
                                          <th>#</th>
                                          <th>Header</th>
                                          <th>#</th>
                                          <th>#</th>
                                          <th>Header</th> -->
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr v-for="x in users.people">
                                          <td>{{x.surname}} {{x.name}}</td>
                                          <td>{{x.incomes[0].perf}}%</td>
                                          <!-- pretty damn ugly, I know -->
                                          <!-- come up with something more elegant -->
                                          <!-- or change the strucure of JS object -->
                                          <td>{{x.incomes[0].bud}}%</td>
                                          <td><small>{{users.currency.name}}</small> {{x.incomes[0].um}}</td>
                                          <td>{{x.incomes[1].perf}}%</td>
                                          <td>{{x.incomes[1].bud}}%</td>
                                          <td><small>{{users.currency.name}}</small> {{x.incomes[1].um}}</td>
                                          <td>{{x.incomes[2].perf}}%</td>
                                          <td>{{x.incomes[2].bud}}%</td>
                                          <td><small>{{users.currency.name}}</small> {{x.incomes[2].um}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>



            </div>


          </div>
        </div>
        <!-- Graph Data -->
        <div class="col-sm-3 col-md-2 sidebar2" id="graph-content">

          <h3>Appp Klinik</h3>
          <h4>Auslastung Performance</h4>
          <div class="container col-xs-12">
            <div class="graph"></div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-4 first-value">
              <!-- Jan: 50% -->80%
            </div>

            <div class="col-xs-4 second-value">
              80%
            </div>
            <div class="col-xs-4 third-value">
              80%

            </div>
          </div>
          <!-- <ul class="nav nav-sidebar">
                 <li><a href="">Nav item</a></li>
                 <li><a href="">Nav item again</a></li>
                 <li><a href="">One more nav</a></li>
                 <li><a href="">Another nav item</a></li>
                 <li><a href="">More navigation</a></li>
                 </ul> -->
          <h4>Auslastung Budget</h4>
          <div class="container col-xs-12">
            <div class="graph2"></div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-4 first-value">
              Jan: 135%
            </div>
            <div class="col-xs-4 second-value">
              Feb: 90%
            </div>
            <div class="col-xs-4 third-value">
              Tot: 80%
            </div>
          </div>
          <div class="col-xs-12" id="rightLowerGraph"></div>
        </div>
</div>
</template>

<script>
  // var apiURL = 'https://jsonplaceholder.typicode.com/users';
var apiURL = 'http://localhost:3000/db';
export default {

  name: 'main-content',
  data () {
    return {
      users:[]
    }
  },
  methods: {
    fetchData: function () {
    var self = this;
    $.get( apiURL, function( data ) {
        self.users = data;
        // self.$store.state.storeGdata = ' store data from content';
        // console.log(data.people[0].name);




        ////////////////////////
    });

  }
  },
  created: function (){
    this.fetchData();
  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
