<template>
  <div class="side-nav">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <!-- <li class="active col-xs-12"><a href="#" class="btn btn-primary btn-block" role="button">Overview</a></li> -->
        <li class="col-xs-12">
          <div style="width:40%;float:left;"><a href="/"><button type="button" class="btn btn-default btn-block active" role="button">Alle</button></a></div>
          <!-- <div style="width:40%;float:right;"><a href="#" class="btn btn-default btn-block" role="button">Suchen</a></div> -->
            <!-- <div style="width:40%;float:left;"><router-link to="/"><button type="button" class="btn btn-default btn-block active" role="button">Alle</button></router-link></div>
            <a href="home">Home</a> -->

          <div style="width:50%;float:right" class="input-group">

            <input v-model="search" type="text" class="form-control" placeholder="Suchen">

          </div>

        </li>
        <li class="col-xs-12">
          <button type="button"  class="btn btn-default btn-block" v-for="x in filterName" v-on:click="passuserid(x.rsid)"> <router-link v-bind:to="'/combo/'"><b>{{x.last_name}}</b> {{x.first_name}}

            </router-link></button>



            <!-- <button type="button"  class="btn btn-default btn-block" v-for="x in filterName" v-on:click="passuserid(x.rsid, $event)"> <router-link v-bind:to="'/combo/'"><b>{{x.last_name}}</b> {{x.first_name}}

              </router-link></button> -->
      </li>
      </ul>
    </div>
  </div>
</template>


<script>
import {store} from '../store/store'
import {bus} from '../bus'
  // var apiURL = 'https://jsonplaceholder.typicode.com/users';
// var apiURL = 'http://localhost:3000/first';


export default {
store,
  name: 'side-nav',
  data () {
    return {
      users:[],
      userId:'',
      search:''
    }
  },
  methods: {
    fetchData: function (id) {
    var self = this;
    var apiURL = store.state.globalurl+'/therapists/';
  // var apiURL = 'http://172.16.1.157:8002/therapists/';

    // console.log('SideNav',apiURL);
    $.get(apiURL, function( data ) {
      self.users = data.sort(function(a, b){
       var nameA=a.last_name.toLowerCase(), nameB=b.last_name.toLowerCase();
       if (nameA < nameB) //sort string ascending
        return -1;
       if (nameA > nameB)
        return 1;
       return 0; //default return value (no sorting)
      });

    });
  },

 passuserid:function (id){
    this.userId = id ;
    bus.$emit('userdata', this.userId);
    // console.log('SideNav',id);
}

  },
  created: function (){
    this.fetchData();
  },

  computed: {
    filterName: function(){
      return this.users.filter((name)=>{
        var nam = name.last_name + name.first_name;
        var lowername =nam.toLowerCase();
        return lowername.match(this.search.toLowerCase())
      });
    }

  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
