<template>
  <div class="graphtotal">
    <div id="graph3" style="width: 100%; margin: 0 auto"></div>
  </div>
  </div>
</template>

<script>
import {store} from '../store/store'
import {bus} from '../bus'


export default {
  name: 'graphtotal',store,
  data () {
    return {
      title:'',
    }
  },
  methods: {
    fetchData: function () {


        var self = this;
        const clickHandler = function(data) {


        // console.log(data.colA);
         let aaa= Number(data.colA);
         let bbb = Number(data.colB);
         let ccc = Number(data.colTo);

         var cname = JSON.parse(localStorage.getItem('colnameset'));
         var g1name1 = cname.col1name;
         var g1name2 = cname.col2name;
         var g1name3 = cname.col3name;



     $(function () {
      $('#graph3').highcharts({
       chart: {
           type: 'bar',
           borderRadius: 5
       },
       title: {
          text: ''
       },
       tooltip: {
            enabled: false
        },
       xAxis: {
           categories: ['']
       },
       yAxis: {
           min: 0,
           title: {
               text: ''
           }
       },
       legend: {
           reversed: false
       },
       colors: [
              '#005B2D', '#417505', '#75B775'
              ],
       plotOptions: {
           /*series: {
               stacking: 'normal'
           }*/
       },
           series: [{
           name: g1name1,
           data: [aaa]
       }, {
           name: g1name2,
           data: [bbb]
       }, {
           name: g1name3,
           data: [ccc]
       }]
   });
});



      }

      // console.log('adata',self.aaa);
      bus.$on('total', clickHandler);


    }

  },
	created: function () {
      this.fetchData();
	},
  mounted: function () {
    // bus.$on('perf', this.fetchData);


	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
