<template>
<div>


<app-header> </app-header>

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">

        <app-sidenav></app-sidenav>
      </div>
      <div class="col-lg-8">
        <router-view></router-view>
      </div>
      <div class="col-lg-2">
        <app-graph-sidebar></app-graph-sidebar>
      </div>
  </div>
</div>




</div>
</template>

<script>
import Header from './components/Header.vue'
import SideNav from './components/SideNav.vue'
import ContentArea from './components/ContentArea.vue'
import GraphComparison from './components/GraphComparison.vue'
import GraphSideBar from './components/GraphSideBar'

// var apiURL = 'http://localhost:3000/db';
export default {

  components: {
    'app-header': Header,
    'app-sidenav': SideNav,
    'app-contentarea': ContentArea,
    'app-grapha': GraphComparison,
    'app-graph-sidebar':GraphSideBar
  }
}


</script>




<style>

</style>
